{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Revach{% endblock %}</title>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	
	{% tailwind_css %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Inter:wght@300;400;600&display=swap');
        .font-serif { font-family: 'Playfair Display', serif; }
        .font-sans { font-family: 'Inter', sans-serif; }
    </style>
</head>
<body class="bg-gray-50 font-sans text-slate-800 antialiased">

    {% include 'includes/navbar.html' %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

	{% include 'includes/footer.html' %}
	
</body>
</html>